/*variables*/
:root{
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
}
/*body*/
body{
    width: 100%;
    height: 100vh;
    font-family: 'Overpass', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Very-Dark-Blue);
}
body p{
    font-size: 15px;
}
/*Container*/
.container{
    background-image:linear-gradient(var(--Dark-Blue), hsl(213, 19%, 12%)) ;
    padding: 24px;
    width: 350px;
    height: 300px;
    border-radius: 20px;
}
/*image*/
.img-container{
    background-color: hsl(213, 19%, 24%);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
}
.design-image{
 position:absolute;
 left: 12px;
 top: 12px;   
}
/*text*/
.text-title{
    color: var(--White);
    font-weight: 400;
}
.text-paragraph{
    color: var(--Light-Grey);
}

/*numbers */
.inputs-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.form-container{
    margin-top: 26px;
}
.number-input {
    opacity: 0;
    position: fixed;
    width: 0;
}
.number-label {
    font-size: 15px;
    display: inline-grid;
    place-content: center;
    background-color: hsl(213, 19%, 24%);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: var(--Medium-Grey);
}
.number-label:hover{
    background-color: var(--Orange);
    cursor: pointer;
    color: var(--White);
    transition: all 300ms;
}
.number-input:checked + label {
    background-color: var(--Light-Grey);
    color: var(--White);
    transition: all 300ms;
}

/*submit*/
.button-container{
    margin:30px 20px 0 0;

}
.submit-button{
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 25px;
    background-color: var(--Orange);
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    color: var(--White);
    padding: 0;
    letter-spacing: 2px;
}
.submit-button:hover{
    color: var(--Orange);
    background-color: var(--White);
    cursor: pointer;
    transition: all 300ms;
}
/*Thanks page*/
.size{
    height: 360px;
}
.thanks-img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
/*img-container*/
.text-bg{
    color: var(--Orange);
    background-color: hsl(213, 19%, 24%);
    border-radius: 25px;
    width: 180px;
    height: 30px;
    position: relative;
    margin-top: 30px;
}
.thanks-img-p{
    position: absolute;
    left: 13px;
    top: 8px;
    margin: 0;
}
/*Text container*/
.thanks-text-container{
    text-align: center;
    padding: 0 4px;
}
.thanks-title{
    margin: 36px 0 0 0;
    color: var(--White);
    font-weight: 400;
}
.thanks-paragraph{
    color: var(--Medium-Grey);
    margin: 14px 0 0 0;
    line-height: 1.5;
}
/*Media query*/
@media(max-width: 375px){
    .container{
        width: 300px;
    }
    .numbers-container{
        gap: 20px;
    }
}